<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Naxam.Mapbox.iOS" version="3.7.6" targetFramework="xamarinios10" />
  <package id="Ricardo.SDWebImage.iOS" version="4.2.2.1" targetFramework="xamarinios10" />
  <package id="Xbindings.AWSCore.iOS" version="2.6.8" targetFramework="xamarinios10" />
  <package id="Xbindings.AWSPolly.iOS" version="2.6.8" targetFramework="xamarinios10" />
</packages>